@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme {
  --animate-glow: glow 1.5s infinite;
  --color-nav-color: #346629;
  --animate-active-glow: glow 1.5s infinite;

  @keyframes glow {
    0%, 100% { box-shadow: 0 0 5px olive; }
    50% { box-shadow: 0 0 10px #fff; }
  }

  @keyframes active-glow {
    0%, 100% { box-shadow: 0 2px 5px blue; }
    50% { box-shadow: 0 0 18px blue; }
  }
}
